@import "tailwindcss";

:root {
  --primary: #135bec;
  --background-light: #f6f6f8;
  --background-dark: #101622;
}

body {
  font-family: 'Outfit', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* Custom styles from stitch files */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ios-status-bar {
  height: 44px;
}

.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}
